<h1>Reserve Lesson</h1>

<%= form_for(@lesson, url: student_lessons_path) do |f| %>

  <p>Make a reservation with: <%= @lesson.tutor.name %></p>

  <div style="margin-bottom: 1rem;">
    <%= f.hidden_field :tutor_id, value: @lesson.tutor.id %>
    <div>
      <%= f.label :lesson_date, 'Date' %>
      <%= f.date_select :lesson_date %>
    </div>

    <div style="display: flex;">
      <span>Lesson time</span>
      <div>
        <%= f.time_select :start_time, minute_step: 15 %>
      </div>
      <span>~</span>
      <div>
        <%= f.time_select :end_time, minute_step: 15 %>
      </div>
    </div>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
